In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().setAppName("Employee Join Example")
sc = SparkContext(conf=conf)

In [ ]:
rdd1 = sc.textFile("emp1.txt")
rdd2 = sc.textFile("emp2.txt")

In [ ]:
rdd1_kv = rdd1.map(lambda line: tuple(line.split(",", 1)))
rdd2_kv = rdd2.map(lambda line: tuple(line.split(",", 1)))

In [ ]:
header_rdd1 = rdd1_kv.first()
header_rdd2 = rdd2_kv.first()
rdd1_kv = rdd1_kv.filter(lambda x: x != header_rdd1)
rdd2_kv = rdd2_kv.filter(lambda x: x != header_rdd2)

In [ ]:
inner_join_rdd = rdd1_kv.join(rdd2_kv)

In [ ]:
print("Inner Join Result:")
print(inner_join_rdd.collect())

Inner Join Result:
[('4', ('Charlie,Human Resources', '55000,1')), ('10', ('Emily,Software Development', '70000,5')), ('12', ('Benjamin,Digital Marketing', '45000,1')), ('16', ('Lucas,Finance', '80000,3')), ('20', ('Scarlett,Software Development', '70000,3')), ('24', ('Chloe,Data Science', '70000,2')), ('26', ('Samuel,Finance', '75000,4')), ('40', ('Sofia,Human Resources', '70000,2')), ('44', ('Luke,Software Development', '70000,4')), ('50', ('Emma,Software Development', '60000,2')), ('3', ('Bob,Data Science', '70000,3')), ('6', ('Michael,Software Development', '80000,6')), ('7', ('Olivia,Data Science', '90000,3')), ('15', ('Isabella,Human Resources', '70000,2')), ('18', ('Grace,Data Science', '65000,4')), ('23', ('David,Software Development', '65000,3')), ('25', ('Sebastian,Human Resources', '60000,3')), ('30', ('Harper,Software Development', '70000,4')), ('31', ('Luna,Data Science', '55000,1')), ('32', ('William,Human Resources', '60000,3')), ('36', ('Mia,Human Resources', '60000,2')), ('42', ('Ella,Data Science', '80000,3')), ('43', ('Daniel,Finance', '65000,2')), ('47', ('Julia,Software Development', '80000,4')), ('49', ('John,Data Science', '70000,3')), ('1', ('John,Digital Marketing', '50000,2')), ('8', ('Sophia,Finance', '75000,2')), ('9', ('Liam,Data Science', '55000,4')), ('14', ('Ava,Data Science', '75000,4')), ('17', ('Avery,Software Development', '55000,1')), ('19', ('Ethan,Human Resources', '60000,2')), ('21', ('Henry,Digital Marketing', '55000,1')), ('22', ('Amelia,Finance', '80000,4')), ('29', ('Abigail,Digital Marketing', '50000,2')), ('33', ('Addison,Finance', '65000,2')), ('34', ('Charlotte,Software Development', '75000,4')), ('45', ('Victoria,Data Science', '60000,3')), ('48', ('Jonathan,Finance', '85000,5')), ('2', ('Alice,Software Development', '65000,5')), ('5', ('Eve,Finance', '60000,4')), ('11', ('James,Finance', '60000,3')), ('13', ('Emma,Software Development', '85000,7')), ('27', ('Evelyn,Software Development', '80000,5')), ('28', ('Jackson,Data Science', '85000,6')), ('35', ('Matthew,Data Science', '70000,3')), ('37', ('Aubrey,Software Development', '55000,1')), ('38', ('Elizabeth,Finance', '80000,4')), ('39', ('Andrew,Data Science', '75000,3')), ('41', ('Grace,Software Development', '55000,1')), ('46', ('Jack,Human Resources', '75000,2'))]

In [ ]:
left_outer_join_rdd = rdd1_kv.leftOuterJoin(rdd2_kv).mapValues(lambda x: (x[0], x[1] if x[1] else "None"))

In [ ]:
print("\nLeft Outer Join Result:")
print(left_outer_join_rdd.collect())

Left Outer Join Result:
[('4', ('Charlie,Human Resources', '55000,1')), ('10', ('Emily,Software Development', '70000,5')), ('12', ('Benjamin,Digital Marketing', '45000,1')), ('16', ('Lucas,Finance', '80000,3')), ('20', ('Scarlett,Software Development', '70000,3')), ('24', ('Chloe,Data Science', '70000,2')), ('26', ('Samuel,Finance', '75000,4')), ('40', ('Sofia,Human Resources', '70000,2')), ('44', ('Luke,Software Development', '70000,4')), ('50', ('Emma,Software Development', '60000,2')), ('3', ('Bob,Data Science', '70000,3')), ('6', ('Michael,Software Development', '80000,6')), ('7', ('Olivia,Data Science', '90000,3')), ('15', ('Isabella,Human Resources', '70000,2')), ('18', ('Grace,Data Science', '65000,4')), ('23', ('David,Software Development', '65000,3')), ('25', ('Sebastian,Human Resources', '60000,3')), ('30', ('Harper,Software Development', '70000,4')), ('31', ('Luna,Data Science', '55000,1')), ('32', ('William,Human Resources', '60000,3')), ('36', ('Mia,Human Resources', '60000,2')), ('42', ('Ella,Data Science', '80000,3')), ('43', ('Daniel,Finance', '65000,2')), ('47', ('Julia,Software Development', '80000,4')), ('49', ('John,Data Science', '70000,3')), ('1', ('John,Digital Marketing', '50000,2')), ('8', ('Sophia,Finance', '75000,2')), ('9', ('Liam,Data Science', '55000,4')), ('14', ('Ava,Data Science', '75000,4')), ('17', ('Avery,Software Development', '55000,1')), ('19', ('Ethan,Human Resources', '60000,2')), ('21', ('Henry,Digital Marketing', '55000,1')), ('22', ('Amelia,Finance', '80000,4')), ('29', ('Abigail,Digital Marketing', '50000,2')), ('33', ('Addison,Finance', '65000,2')), ('34', ('Charlotte,Software Development', '75000,4')), ('45', ('Victoria,Data Science', '60000,3')), ('48', ('Jonathan,Finance', '85000,5')), ('2', ('Alice,Software Development', '65000,5')), ('5', ('Eve,Finance', '60000,4')), ('11', ('James,Finance', '60000,3')), ('13', ('Emma,Software Development', '85000,7')), ('27', ('Evelyn,Software Development', '80000,5')), ('28', ('Jackson,Data Science', '85000,6')), ('35', ('Matthew,Data Science', '70000,3')), ('37', ('Aubrey,Software Development', '55000,1')), ('38', ('Elizabeth,Finance', '80000,4')), ('39', ('Andrew,Data Science', '75000,3')), ('41', ('Grace,Software Development', '55000,1')), ('46', ('Jack,Human Resources', '75000,2'))]

In [ ]:
rdd2_kv_int = rdd2_kv.mapValues(lambda x: tuple(map(int, x.split(","))))

In [ ]:
total_salary_rdd = rdd1_kv.join(rdd2_kv_int).mapValues(lambda x: x[0] + str(x[1][0] * x[1][1]))

In [ ]:
print("\nTotal Salary of Employees:")
print(total_salary_rdd.collect())

Total Salary of Employees:
[('4', 'Charlie,Human Resources55000'), ('10', 'Emily,Software Development350000'), ('12', 'Benjamin,Digital Marketing45000'), ('16', 'Lucas,Finance240000'), ('20', 'Scarlett,Software Development210000'), ('24', 'Chloe,Data Science140000'), ('26', 'Samuel,Finance300000'), ('40', 'Sofia,Human Resources140000'), ('44', 'Luke,Software Development280000'), ('50', 'Emma,Software Development120000'), ('3', 'Bob,Data Science210000'), ('6', 'Michael,Software Development480000'), ('7', 'Olivia,Data Science270000'), ('15', 'Isabella,Human Resources140000'), ('18', 'Grace,Data Science260000'), ('23', 'David,Software Development195000'), ('25', 'Sebastian,Human Resources180000'), ('30', 'Harper,Software Development280000'), ('31', 'Luna,Data Science55000'), ('32', 'William,Human Resources180000'), ('36', 'Mia,Human Resources120000'), ('42', 'Ella,Data Science240000'), ('43', 'Daniel,Finance130000'), ('47', 'Julia,Software Development320000'), ('49', 'John,Data Science210000'), ('1', 'John,Digital Marketing100000'), ('8', 'Sophia,Finance150000'), ('9', 'Liam,Data Science220000'), ('14', 'Ava,Data Science300000'), ('17', 'Avery,Software Development55000'), ('19', 'Ethan,Human Resources120000'), ('21', 'Henry,Digital Marketing55000'), ('22', 'Amelia,Finance320000'), ('29', 'Abigail,Digital Marketing100000'), ('33', 'Addison,Finance130000'), ('34', 'Charlotte,Software Development300000'), ('45', 'Victoria,Data Science180000'), ('48', 'Jonathan,Finance425000'), ('2', 'Alice,Software Development325000'), ('5', 'Eve,Finance240000'), ('11', 'James,Finance180000'), ('13', 'Emma,Software Development595000'), ('27', 'Evelyn,Software Development400000'), ('28', 'Jackson,Data Science510000'), ('35', 'Matthew,Data Science210000'), ('37', 'Aubrey,Software Development55000'), ('38', 'Elizabeth,Finance320000'), ('39', 'Andrew,Data Science225000'), ('41', 'Grace,Software Development55000'), ('46', 'Jack,Human Resources150000')]

In [ ]:
rdd1_pair = sc.parallelize([(1, "John"), (2, "Alice"), (3, "Bob")])
rdd2_pair = sc.parallelize([(1, 30), (2, 35), (3, 40)])

In [ ]:
broadcast_rdd2 = sc.broadcast(dict(rdd2_pair.collect()))

In [ ]:
result = rdd1_pair.map(lambda x: (x[0], (x[1], broadcast_rdd2.value.get(x[0]))))

In [ ]:
print("\nBroadcast Join Result:")
print(result.collect())

Broadcast Join Result:
[(1, ('John', 30)), (2, ('Alice', 35)), (3, ('Bob', 40))]

In [ ]:
rdd = sc.parallelize(range(1, 11))

In [ ]:
accumulator = sc.accumulator(0)
def update_acc(x):
    global accumulator
    accumulator += x
rdd.foreach(update_acc)
print("\nSum of Values using Accumulator:", accumulator.value)
sc.stop()

Sum of Values using Accumulator: 55